
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
*{
  max-width: 100%;
}
.header{
  display: flex;
  margin-top: 2em;
  margin-left: 85%;
  height: 4em;
  justify-content: space-around;
}
.footer{
  width: 100%;
  background-color: #1C2B39;
  height: 20em;
  color: white;
  display: flex;
}
.content{
  text-align: center;
  margin:auto;
  padding: 1em;
  padding-top: 1%;
}
.content_two{
  background-color: lightgray;
  padding: 2em;
  display: flex;
}
.left {
  display: flex;
}
.item {
  display: flex;
  list-style: none;
  padding: 1px;
}

.right {
  text-align: right;
  margin-left:50%;
}

.body{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.icons{
  margin: auto;
  padding: 2em;
}

div.icon {
  margin-left: 5em;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  display: block;
}

div.icon:hover {
  border: 1px solid #777;
}

div.icon img {
  width: 100%;
  height: 250px;
  box-shadow: darkgrey;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.para{
  text-align: center;
  padding: 2em;
}
.social-icons{
  margin-top: 2%;
  margin-right: 2%;
}

.logo{
  margin-left: 7%;
  padding-bottom: 1%;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .landing-image{
    width: 50%;
    height: 349px;
    padding: 0;
  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .landing-image{
    width: 100%;
    padding: 0;
  }
}

.row.vdivide [class*='col-']:not(:last-child):after {
  background: black;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 15px;
}

.copyright-text{
  margin-left: 7%;
}

.logo-bottom{
  margin-right: 10%;
}

#myCarousel .nav a small {
  display:block;
}
#myCarousel .nav {
  background:#eee;
}
#myCarousel .nav a {
  border-radius:0px;
}

.para-info {
  padding-left: 5%;
}

.blogShort{ border-bottom:1px solid #ddd;}

.btn-blog {
  color: #ffffff;
  background-color: #37d980;
  border-color: #37d980;
  border-radius:0;
  margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
  color: white;
  background-color:#34ca78;
  border-color: #34ca78;
}
article h2{color:#333333;}
h2{color:#34ca78;}
.margin10{margin-bottom:10px; margin-right:10px;}

.icon-color{
  color: red;
}

.button-color{
  background-color: #1C2B39;
}

.fa-facebook-official {
  color: #3b5998;
}
.landing-image{
  margin-left: 10%;
}
.landing{
  text-align: center;
}
.about{
  margin-left: 20%;
  padding: 2em;
}
.about_us{
  background-color: gainsboro;
}
.us{
  margin-left: 10%;
  text-align: center;
}
.testimony{
  padding:0px;
  margin: 0px;
  display: flex;

}
.galary{
  padding: 4em;
  margin: 4em;
}